{% extends 'store/base.html' %}
{% load static %}

{% block title %}
Coffio
{% endblock %}


{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <form id="search-form" method="post" action="{% url 'store:search_result' %}" 
                class="d-flex align-items-center border border-dark rounded" role="search">
                {% csrf_token %}
                <input class="form-control" type="search" placeholder="What are you looking for?" 
                aria-label="Search" name="search_input">
                <button class="btn btn-outline-success ms-2" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" 
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
