{% extends "store/base.html" %}
{% load static %}

{% block title %}
Order Placed
{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-5">
            <div class="fs-3 pb-2 pt-3 mt-3">Your order has been placed!</div>
            <div>A confirmation email with order details has been sent.<div>
            <a class="btn add-to-cart-btn mt-3 px-5" type="button" 
                href="{% url 'account:user_account_summary' %}">See Orders
            </a>
        </div>
    </div>
</div>

{% endblock %}
